@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&family=Outfit:wght@100..900&display=swap");
@import "tailwindcss";

:root {
  font-family: Outfit, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;

  --dark-green: #091e05ff;
  --seasalt: #f7f9f9ff;
  --dark-purple: #2b061e;
  --mountbatten-pink: #987284;
  --coral: #ff8c61;
  background-color: var(--seasalt);
}
